<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

  {{!-- datepicker jquery --}}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <title>Home Page</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


    <form action="/" method="GET">
      <button type="submit" class="navbar-brand coolFont">

        <img src="/assets/photos/logo_transparent.png" width="30" height="30" class="d-inline-block align-top coolFont"
          alt="">
        Naybo
      </button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item coolFont2">
          <form action="/search" method="GET">
            <button type="submit" id="search" class="nav-link btn">Available Items</button>
          </form>
        </li>

        <li class="nav-item coolFont2">

          {{!-- <form action="/account/{{this.username}}" method="GET"> --}}
            <button type="submit" id="account" class="nav-link btn">My Account</a>
          {{!-- </form> --}}

        </li>
        <li class="nav-item coolFont2">
          <form action="/add" method="GET">
            <button id="additem" class="nav-link btn">Add an Item</button>
          </form>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link">Log Out</a>
        </li> --}}
      </ul>
    </div>
  </nav>
</header>

<body class="bg">
  {{{body}}}
</body>

</html>