<div class="container">

  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{!-- {{Username}} --}}
          </div>
          <div class="profile-usertitle-job">
            {{!-- {{Location}} --}}
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS (send email) -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-info btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                My Account </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Add Item </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-flag"></i>
                Search Items </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        Calendar or Users Rentable items go here
      </div>
    </div>
  </div>
</div>

</body>


</body>