<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<title>Account Page</title>
</head>

<body>

    {{!-- username/info --}}



    {{!-- add an item button --}}



    {{!-- go to search page --}}

</body>
