<div id="add-item-page">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">


        <form>

          <div class="form-group">
            <label for="item-name">Item name</label>
            <input name="name" type="text" id="item-name" class="form-control" aria-describedby="example-text"
              placeholder="name">
          </div>
          <div class="form-group">
            <label for="item-description">Description</label>
            <input name="description" class="form-control" id="item-description" aria-describedby="example-description"
              placeholder="Enter item Description"></input>
          </div>
          <div class="form-group">
            <label for="item-price">Price</label>
            <input name="price" type="text" id="item-price" class="form-control" aria-describedby="example-price"
              placeholder="price">
          </div>
          {{!-- <div class="form-group">
          <label for="availability">Available now?</label>
          <input name="availability" type="checkbox" class="form-control" value="false">
        </div> --}}
          <button id="new-item-btn" class="btn btn-success float-right">Submit</button>

        </form>


        <div class="modal" id="item-image-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add A Picture Of Your Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


              {{!-- Create Account - New User --}}
              <div class="modal-body">

                {{!-- Need parameter logic --}}
                <form>


                  {{!-- <form id="upload-image-form" action="/api/image-upload" enctype="application/x-www-form-urlencoded" method="POST">
                    <input type="file" name="file">
                    <input type="submit" value="Submit">
                  </form> --}}

                  {{!-- <form id="upload-image-form" action="/api/image-upload" method="post" enctype="multipart/form-data"> --}}
                  <form id="upload-image-form" action="/api/image-upload" method="post">

                    <div id="image-preview-div" style="display: none">
                      <label for="exampleInputFile">Selected image:</label>
                      <br>
                    </div>
                    <div class="form-group">
                      <input type="file" name="file" id="file" required>
                    </div>
                    {{!-- <button class="btn btn-lg btn-primary" id="upload-button" type="submit">Upload
                      image</button> --}}
                  </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No Thanks</button>
                <button type="button" id="add-image-btn" class="btn btn-primary">Upload</button>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>

<script src="/js/item.js"></script>