
<div id="home">
    <div class="container">
        <div class="row">

            <div class="col-8 offset-2">


{{#each item}}
{{this.name}}
{{this.price}}

{{this.description}}
{{/each}}

<button type="submit" class="btn btn-primary">Rent</button>
            </div>
        </div>
    </div>
</div>



